

body{
    margin: 100px;
    background-color:  #606c38;
}


h1, h2{
    font-family: "Rubik Mono One" , monospace;
    font-weight: 200;
    color: #283618;		
}

p{
    font-family: "Madimi One" , sans-serif;
    color: #fefae0;
    font-size: 20px;
}

.anime-image{
    display: block;
    border: 5px solid #444;
    border-radius: 50%;
}
